/* @import url('https://fonts.cdnfonts.com/css/strasua'); */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --yellow-hue: 60;
  --yellow-sat: 70%;
  --yellow-lit: 59%;

  background-color: #333;
  color: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit));

  --font-family: "Nunito", sans-serif;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
h1,
h2,
h3,
h4 {
  font-family: "Audiowide", cursive;
  color: hsl(var(--yellow-hue), var(--yellow-sat), var(--yellow-lit));
}

body {
  display: grid;
}

chat-box {
  height: clamp(300px, 50%, 500px);
  width: clamp(300px, 80%, 950px);
}
